//@theme "~/.config/rofi/themes/nova-dark.rasi"
//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/docu.rasi"

//@theme "/usr/share/rofi/themes/sidebar-v2.rasi"

//@theme "/home/SillyGoat/.config/rofi/themes/nova-dark.rasi"

//@theme "/home/SillyGoat/.config/rofi/themes/style-3.rasi"

@theme "/home/SillyGoat/.config/rofi/themes/style-8.rasi"
